<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    ul {
        list-style-type: none;
        display : flex;
    }
    li {
        padding: 30px;
    }
    a {
        color: #000 !important;
        text-decoration: none
    }
</style>
<header style="background: #D3D3D3">
    <nav>
        <ul>
            <li><strong>Hardware shop "V gostyah u Vitalika"</strong></li>
            <li><a href="/component/all">Main</a></li>
            <li sec:authorize="isAnonymous()" ><a href="/login">Log-in</a></li>
            <li sec:authorize="isAnonymous()"><a href="/registration">Registration</a></li>
            <li sec:authorize="isAuthenticated()" style="border-bottom: none;"><a href="/profile">Profile</a></li>
            <li sec:authorize="isAuthenticated()" style="border-bottom: none;"><a href="/component/shopping_cart">Shopping cart</a></li>
            <li sec:authorize="isAuthenticated()" >
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Log-Out"/>
                </form>
            </li>
            <li sec:authorize="hasAnyAuthority('ADMIN')" style="border-bottom: none"><a href="/create_page">Create page</a></li>


        </ul>
    </nav>
</header>