<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>

<body>
<div th:insert="~{header.html}"></div>
<div style="display: flex; flex-direction: column" >
    <label>Your profile: </label>
    <img width="200" height="200" th:src="${'/component/user_image/' + userid}">
    <div style="display: block">
        <p style="font-size: 20px" th:text="${'Name: ' + name}"></p>
        <p th:text="${'Surname: ' + surname}"></p>
        <p th:text="${'Country: ' + country}"></p>
        <p th:text="${'Email: ' + email}"></p>
        <form method="post"  enctype="multipart/form-data" style="display: flex; flex-direction: column">
            <label for="img">Edit image</label>
            <input  id="img" type="file" name="img">
            <input type="submit" value="Change image" style="width: 100px">
        </form>
    </div>
</div>
</body>
</html>